#include <windows.h>
#include "../include/LoginDialog.h"

IDD_DIALOG1 DIALOGEX 0, 0, 325, 60
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Grim Dawn Community Launcher"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Login",IDOK,268,5,50,14
    CONTROL         "",IDC_IMAGE1,"Static",SS_BITMAP,7,7,21,20
    EDITTEXT        IDC_EDIT1,100,7,160,12,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,100,23,160,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Username",IDC_STATIC,64,9,33,8
    LTEXT           "Password",IDC_STATIC,64,25,32,8
    CONTROL         "Remember Me",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,100,40,61,10
    PUSHBUTTON      "About",IDHELP,268,21,50,14
    CONTROL         "Auto-Login",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,180,40,51,10
END

IDB_BITMAP1 BITMAP "test.bmp"