#include <windows.h>
#include "../include/SelectorDialog.h"

IDD_DIALOG3 DIALOGEX 0, 0, 125, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Grim Dawn Community Launcher"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,7,50,50,14
    DEFPUSHBUTTON   "Select",IDOK,67,50,50,14
	RADIOBUTTON     "Release", IDC_RADIO1, 12, 20, 40, 10, WS_GROUP | WS_TABSTOP
	RADIOBUTTON     "Beta", IDC_RADIO2, 12, 32, 40, 10, WS_TABSTOP
    LTEXT           "Select a branch:",IDC_STATIC,7,7,307,15
END